html { height: 3000px; }

#main #mainVisual { overflow: hidden; position: relative; }

#main #mainVisual video { width: 100%; height: 100vh; -o-object-fit: cover; object-fit: cover; z-index: -1; }

#main #mainVisual .slogan { color: #fff; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

#main #mainVisual .slogan .main { font-size: 6.4rem; margin-bottom: 30px; }

#main #mainVisual .down { position: absolute; height: 100px; width: 100px; bottom: 0; right: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

#main #mainVisual .down a { color: #fff; }

#main #mainVisual .down a span { font-size: 6.4rem; }

#main #business .contents { width: 1200px; margin: auto; }

#main #business .contents .list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 50px; overflow: hidden; -webkit-transition: 0.5s; transition: 0.5s; }

#main #business .contents .list a { width: 25%; }

#main #business .contents .list a:hover .icon, #main #business .contents .list a:hover p { display: none; }

#main #business .contents .list a:hover .hoverBox { -webkit-transform: translateY(0); transform: translateY(0); display: block; }

#main #business .contents .list a li .icon { width: 305px; background-repeat: no-repeat; background-position: 50%; text-align: center; padding: 100px 0 0; }

#main #business .contents .list a li .icon p { font-size: 2.4rem; margin-top: 50px; font-weight: 600; }

#main #business .contents .list a li .icon:nth-child(1) { background-image: url(../images/main/main_business_icon01.png); }

#main #business .contents .list a li .icon:nth-child(2) { background-image: url(../images/main/main_business_icon02.png); }

#main #business .contents .list a li .icon:nth-child(3) { background-image: url(../images/main/main_business_icon03.png); }

#main #business .contents .list a li .icon:nth-child(4) { background-image: url(../images/main/main_business_icon04.png); }

#main #business .contents .list a li .hoverBox { position: relative; -webkit-transform: translateY(50px); transform: translateY(50px); -webkit-transition: 0.5s; transition: 0.5s; }

#main #business .contents .list a li .hoverBox .img { width: 100%; }

#main #business .contents .list a li .hoverBox .hoverTitle { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #fff; text-align: center; width: 100%; }

#main #business .contents .list a li .hoverBox .hoverTitle .subTitle { font-size: 3.6rem; margin-bottom: 20px; font-weight: 500; }

#main #business .contents .list a li .hoverBox .hoverTitle .subTxt { font-size: 1.8rem; line-height: 1.5; }
